<script id="survay-chat-container" type="x-template">
  <div v-for="(_, c) in userConnections" class="all-video">
    <survay-video :src="c.streamUrl" :caption="c.data.profile.username"></survay-video>
  </div>
</script>
