<script id="survay-chat-container" type="x-template">
  <div class="row">
    <div class="col-xs-6">
      <div v-for="(_, c) in userConnections" >
        <survay-video :src="c.streamUrl" :caption="c.user.email + '(' + c.volume + ')'"></survay-video>
      </div>
    </div>
  </div>
</script>
