div.user_login{
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  background-image: image-url("user_login_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.user_login_panel{
  position: relative;
  top: 150px;
}

div.user_login_panel_back{
  background-color: rgba(255, 255, 255, 0.8);
}

img.logo{
  display: block;
  margin: 0 auto;
}

a.btn-to-login{
  width: 100%;
}

div.btn-right{
  text-align:right
}
