div.client{
  width: 1012px;
  height: 343px;
  margin: 0 auto;
  background-image: image-url("client_login_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.user{
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  background-image: image-url("user_login_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.user_panel{
  position: relative;
  top: 150px;
}

div.user_panel{
  position: relative;
  top: 150px;
}

div.client_panel_back{
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

div.user_panel_back{
  background-color: rgba(255, 255, 255, 0.8);
}

div.client_panel_body{
  padding: 0px;
}

img.logo{
  width: 100%;
  display: block;
  margin: 0 auto;
}

a.btn-to-login{
  width: 100%;
}

div.btn-right{
  text-align:right
}
