// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.next-rank{
  width: 60px;
  height: 30px;
}

a.register{
  width: 100%;
}

a.btn-edit-user{
  width: 100%;
}

div.panel-heading-color{
  color: blue;
}

div.my-edit-user{
  padding: 20px 20px;
}
