<h2>アンケート一覧</h2>
<ul>
  <% @m_titles.each do |m| %>
    <li>
      <td>
        <%= m[:title] %>
      </td>
      <td>
        <%= m[:start_at] %>
      </td>
      <td>
        <%= m[:end_at] %>
      </td>
    </li>
  <% end %>
</ul>

