<h2>アンケート一覧</h2>
<ul>
  <% @m_titles.each do |m| %>
    <li>
      <td>
        <%= link_to m[:title], meeting_show_path(m[:id]) %>
      </td>
      <td>
        <%= m[:start_at] %>
      </td>
      <td>
        <%= m[:end_at] %>
      </td>
    </li>
  <% end %>
</ul>
